html {
  background-color: #F9F6E3;
}

body {
  font-family: 'Instrument Sans', sans-serif;
  font-size: 1.125rem; 
  line-height: 1.6;
  color: #303030;
}

/* text */
.text-light {
    color: #F9F6E3;
}

.text-dark {
    color: #303030;
}

p {
  margin-bottom: var(--space-md);
}

.text-content {
  max-width: 65ch;
}

/* Backgrounds */
.bg-light {
    background-color: #F9F6E3;
}

.bg-dark {
    background-color: #303030;
}

.bg-primary {
    background-color: #991A4D;
}

/*sections and spacing */
section {
    padding: var(--space-xl) 0;
}

.section-title {
  margin-bottom: var(--space-lg);
}

.section-xs {
  padding: var(--space-sm) 0;
}

.slanted-section {
    clip-path: polygon(0 5vw, 100% 0, 100% calc(100% - 5vw), 0 100%);
}

.slanted-bottom {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vw), 0 100%);
}

/* Decorative elements 
.blob, .stars, .plant {
    height: 50px;
    width: auto;
}
    */

.deco {
  position: absolute;
  width: 60px;   /* visuelle Größe */
  height: auto;
  pointer-events: none;
  z-index: 1;
}


/* Hero Section spacing*/
#hero {
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
  position: relative;
}

/* Custom styles for the hero section */
.hero-visual {
  position: relative;
  min-height: 500px;
}

.hero-text {
  display: flex;
  align-items: center;
  animation: fadeIn 1s ease;
}

@media (max-width: 768px) {
  .hero-text {
    text-align: center;
  }
}

/* Hero imgs */
.hero-container {
  position: relative;
}

.hero-person,
.hero-chicken {
  margin-top: var(--space-md);
}

.hero-chicken {
  position: absolute;
  bottom: 1px;
  right: 10%;
  width: 40%;
  z-index: 2;
}

.hero-person {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 35%;
  z-index: 3;
}

.hero-line {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  z-index: 1;
}

.deco-star-1 {
  top: -50%;
  right: 50%;
  width: 10%;
}

.deco-blob-1 {
  top: -30%;
  right: 5%;
  width: 7%;
}

.deco-blob-2 {
  bottom: 5%;
  right: 50%;
  width: 7%;
}

.deco-plant-2 {
  bottom: 20%;
  left: 25%;
  width: 5%;
}

.deco-plant-3 {
  bottom: 0;
  right: 0;
  width: 10%;
}
