html {
  background-color: #F9F6E3;
}

body {
  font-family: 'Instrument Sans', sans-serif;
  font-size: 1.125rem; 
  line-height: 1.6;
  color: #303030;
}

/* text */
.text-light {
    color: #F9F6E3;
}

.text-dark {
    color: #303030;
}

p {
  margin-bottom: var(--space-md);
}

.text-content {
  max-width: 65ch;
}

/* Backgrounds */
.bg-light {
    background-color: #F9F6E3;
}

.bg-dark {
    background-color: #303030;
}

.bg-primary {
    background-color: #991A4D;
}

/*sections and spacing */
section {
    padding: var(--space-xl) 0;
}

.section-title {
  margin-bottom: var(--space-lg);
}

.section-xs {
  padding: var(--space-sm) 0;
}

.slanted-section {
    clip-path: polygon(0 5vw, 100% 0, 100% calc(100% - 5vw), 0 100%);
}

.slanted-bottom {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vw), 0 100%);
}

.blob, .stars, .plant {
    height: 50px;
    width: auto;
}

/* Hero Section spacing*/
#hero {
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
  position: relative;
}

#hero img {
  margin-top: var(--space-md);
}
