.wrapper {
  position: relative;
}

.deco {
  position: absolute;
  width: 60px;   /* visuelle Größe */
  height: auto;
  pointer-events: none;
  z-index: 1;
}

/* Index */

.deco-star-1 {
  top: -50%;
  right: 50%;
  width: 10%;
}

.deco-blob-1 {
  top: -30%;
  right: 5%;
  width: 7%;
}

.deco-blob-2 {
  bottom: 5%;
  right: 50%;
  width: 7%;
}

.deco-plant-2 {
  bottom: 20%;
  left: 25%;
  width: 5%;
}

.deco-plant-3 {
  bottom: 0;
  right: 0;
  width: 10%;
}


@media (max-width: 767px) {

  .deco {
   display: block;
   position: absolute;
   width: 45px;         
  }

  .deco-star-1 {
    top: -10%;
    right: 10%;
  }

  .deco-blob-1 {
    top: 8%;
    left: 5%;
  }

  .deco-blob-2 {
    bottom: 25%;
    right: 10%;
  }

  .deco-plant-2 {
    bottom: 5%;
    left: 10%;
    z-index: 3;
  }

  .deco-plant-3 {
    bottom: 0;
    right: 5%;
  }

}


/* About overview */
.about-heading {
  display: flex;
  align-items: center;
  gap: clamp(8px, 1.5vw, 20px);
}

.deco-plant-about-overview {
  width: clamp(80px, 12vw, 180px);
  height: auto;
  transform: translateY(-50%);
  pointer-events: none;
}


/* Contact section */ 

.contact-deco {
  position: absolute;
  top: -30px;
  right: -30px;
  width: clamp(70px, 12vw, 160px);
  z-index: 2;
}

@media (max-width: 767px) {
  .contact-deco {
    right: -10px; /* weniger weit raus */
    top: -20px;
  }
}

/* Work section deco */

.deco-stars-work {
  position: absolute;
  top: -30px;
  right: 30px;
  width: clamp(70px, 12vw, 160px);
  z-index: 2;
}

.deco-work-blob1 {
  left: 40%;
  width: clamp(70px, 12vw, 160px);
  bottom: 10%;
  right: 30px;
}

.deco-work-plant {
  position: absolute;
  right: clamp(5%, 8%, 12%);
  bottom: 10%;                
  transform: translateY(clamp(30%, 45%, 60%));
  width: clamp(120px, 13vw, 260px);
}

.deco-work-yellow-blob {
  position: absolute;
  width: clamp(70px, 12vw, 160px);
  right: 30%;
  transform: translateY(clamp(30%, 45%, 60%));
  bottom: 25%;
}

@media (max-width: 992px) {
  .deco-work-blob1, .deco-work-yellow-blob {
    display: none;
  }

  .deco-work-plant {
    transform: translateY(clamp(25%, 40%, 55%));
    width: clamp(100px, 18vw, 200px);
    padding-top: 1rem;
  }
}

@media (max-width: 767px) {
  .contact-deco {
    right: -10px;
    top: -20px;
  }

  .deco-work-plant {
    transform: none;     
    bottom: 1%;          
    right: clamp(5%, 10%, 15%);
    width: clamp(80px, 25vw, 140px);
  }
}

/* About section deco */

.deco-stars-about {
  position: absolute;
  bottom: -20px;   
  left: 20%;
  width: clamp(80px, 25vw, 140px);
}


.deco-plant-about {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-35%, 35%);
  width: clamp(80px, 12vw, 180px);
  z-index: 2;
}

@media (max-width: 767px) {
  .deco-stars-about {
    bottom: -60px;
    left: 50%;
  }
}

@media (min-width: 992px) and (max-width: 1530px) {

  .deco-stars-about {
    bottom: 100px;
    left: 80%;
  }
}
