h1 {
    font-family: 'Tilt Warp', sans-serif;
    font-size: 5.5rem;
}

h2 {
    font-family: 'Tilt Warp', sans-serif;
    font-size: 4.25rem;
}

h3 {
    font-family: 'Tilt Warp', sans-serif;
    font-size: 3.25rem;
}

h4 {
    font-family: 'Tilt Warp', sans-serif;
    font-size: 2.5rem;
}

h5, .h5 {
    font-family: 'Tilt Warp', sans-serif;
    font-size: 1.75rem;
    line-height: 1.1;
    color: #991A4D;
}

h6, .h6 {
    font-family: 'Tilt Warp', sans-serif;
    font-size: 1.357rem;
    line-height: 1.1;
    color: #991A4D;
}

h1, h2, h3, h4 {
  margin-bottom: var(--space-sm);
  color: #303030;
  line-height: 1.1;
}
