.navbar {
  overflow: hidden;
  background-color: #F9F6E3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.nav-link {
  color: #303030;
  text-align: center;
  padding: 18px 22px;
  text-decoration: none;
  font-size: 1.357rem;
  float: none;
}

.nav-link:hover {
  background-color: #FFF905;
  color: #303030;
}

.nav-link.active {
  background-color: #991A4D;
  color: #F9F6E3;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    margin-left: auto;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}